<% if flash[:notice] %>
	<p id="flash_notice"><%= flash[:notice] %></p>
<% end %>

<div class="row">
<%= form_tag sessions_path, :class => 'well span5' do %>
	<h1>Log in</h1>

    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>

    <%= label_tag :password %>
    <%= password_field_tag :password %>
		<%= link_to "Forgot Password?", forgot_password_path %><br />
		
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
		<%= label_tag :remember_me %>

  	<%= submit_tag "Log in", :class => 'btn btn-success' %>

<% end %>
	
</div>