<%= form_for(@person, :html => {:class => 'well span12'}) do |f| %>
	<%= error_messages_for(@person) %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :state %>
  <%= f.text_field :state %>

  <%= f.label :zip %>
  <%= f.number_field :zip %>

  <%= f.label :phone %>
  <%= f.text_field :phone %>

  <%= f.label :mobile_phone %>
  <%= f.text_field :mobile_phone %>
		
	<h3>Notifications</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Week</th>
					<th>Day</th>
					<th>Type</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%= f.fields_for(:notifications, @person.notifications) do |notification| %>
					<%= render 'notification_fields', :f => notification %>
				<% end %>
				<tr>
					<td><%= link_to_add_fields "add notification", f, :notifications %></td>
				</tr>
			</tbody>
		</table>
		
  <div class="actions">
    <%= f.submit :class => 'btn btn-success' %>
  </div>
<% end %>