<%= form_for(@person, :html => {:class => 'form-stacked'}) do |f| %>
	<%= error_messages_for(@person) %>

    <%= f.label :agent_id %>
    <%= f.number_field :agent_id %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :address %>
    <%= f.text_field :address %>

    <%= f.label :city %>
    <%= f.text_field :city %>

    <%= f.label :state %>
    <%= f.text_field :state %>

    <%= f.label :zip %>
    <%= f.number_field :zip %>

    <%= f.label :phone %>
    <%= f.text_field :phone %>

    <%= f.label :mobile_phone %>
    <%= f.text_field :mobile_phone %>
		
	<h3>Notifications</h3>
		<table class="zebra-striped">
			<tr>
				<th>Type</th>
				<th>Day</th>
				<th>Week</th>
				<th></th>
			</tr>
				<%= f.fields_for(:notifications, @person.notifications) do |notification| %>
					<%= render 'notification_fields', :f => notification %>
				<% end %>
			<tr>
				<td><%= link_to_add_fields "add notification", f, :notifications %></td>
			</tr>
		</table>
		
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>