<%= form_for(@notification) do |f| %>
	<%= error_messages_for(@notification) %>

    <%= f.hidden_field :person_id, :value => params[:person_id] %>
		
		<%= f.label :week %>
    <%= f.select :week, Notification::NOTIFICATION_WEEKS %>
		
		<%= f.label :day %>
    <%= f.select :day, Notification::NOTIFICATION_DAYS %>
		
    <%= f.label :notification_type %>
    <%= f.select :notification_type, Notification::NOTIFICATION_TYPES %>

	<div>
    <%= f.submit :class => 'btn btn-success' %>
	</div>
<% end %>