<%= form_for(@notification) do |f| %>
	<%= error_messages_for(@notification) %>

  <div class="field">
    <%= f.label :notification_type %><br />
    <%= f.number_field :notification_type %>
  </div>
  <div class="field">
    <%= f.label :day %><br />
    <%= f.number_field :day %>
  </div>
  <div class="field">
    <%= f.label :week %><br />
    <%= f.number_field :week %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.number_field :person_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>