<%= f.hidden_field :agent_id, :value => @agent_id %>

	<%= f.label :first_name %>
	<%= f.text_field :first_name %>

	<%= f.label :last_name %>
	<%= f.text_field :last_name %>

	<%= f.label :address %>
	<%= f.text_field :address %>
	
	<%= f.label :zip %>
	<%= f.text_field :zip %>

</div>

<div class="span5">	
	
	<%= f.label :phone %>
	<%= f.text_field :phone %>