<%= form_for @user, :html => { :class => 'well span8' } do |f| %>

	<h1>Sign Up Agent</h1>
	<%= error_messages_for(@user) %>
  
	<!-- This builds an agent (singular) so we can nest it's fields -->
	<% f.object.build_agent %>
	<%= f.fields_for :agent do |agent| %>
		<%= render 'agent_fields', :f => agent %>
	<% end %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

	<%= f.hidden_field :roles_mask, :value => '1', :readonly => true %>

	<%= f.submit 'Sign up!', :class => 'btn btn-success' %>
<% end %>