<h1>Sign Up Person</h1>

<%= form_for @user, :html => { :class => 'form-stacked' } do |f| %>
 <%= error_messages_for(@user) %>
  
	<% f.object.build_person %>
	<%= f.fields_for :person do |person| %>
		<%= render 'person_fields', :f => person %>
	<% end %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

	<%= f.hidden_field :roles_mask, :value => '2', :readonly => true %>

	<div class="actions"><%= f.submit %></div>
<% end %>