<%= form_for(@agent, :html => {:class => 'span16'}) do |f| %>
	<%= error_messages_for(@agent) %>

<fieldset class="well">
	<div class="row">
		<div class="well span5" style="margin: 15px">
			<h3>Basic Info:</h3>
			<%= f.label :first_name %>
			<%= f.text_field :first_name %>

			<%= f.label :last_name %>
			<%= f.text_field :last_name %>
	
			<%= f.label :website_url %>
			<%= f.text_field :website_url %>
		</div>
	
		<div class="well span5" style="margin: 15px">
			<h3>Outgoing Message Info:</h3>
			<%= f.label :outgoing_phone %>
			<%= f.text_field :outgoing_phone %>
	
			<%= f.label :outgoing_email %>
			<%= f.text_field :outgoing_email %>
		
			<p>Phone verified?</p>
			<% if phone_not_verified? %>
				<b>No</b> <%= link_to "(verify now!)", :controller => 'agents', :action => 'verify', :phn => @agent.outgoing_phone, :uuid => @agent.uuid %>
			<% else %>
				<b>Yes</b>
			<% end %>
		</div>
    <%= f.submit 'Update Profile', :class => 'btn btn-success' %>
	</div>
</fieldset>


<% end %>
