<%= form_for(@agent, :html => {:class => 'well span16'}) do |f| %>
	<%= error_messages_for(@agent) %>

<fieldset>
<div class="row">
	<div class="well span5">
		<h3>Basic Info:</h3>
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>

		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	
		<%= f.label :website_url %>
		<%= f.text_field :website_url %>
	</div>
	
	<div class="well span5">
		<h3>Outgoing Message Info:</h3>
		<%= f.label :outgoing_phone %>
		<%= f.text_field :outgoing_phone %>
	
		<%= f.label :outgoing_email %>
		<%= f.text_field :outgoing_email %>
		
		<p>Phone verified?</p>
		<% if phone_not_verified? %>
			<b>No</b>
		<% else %>
			<b>Yes</b>
		<% end %>
	</div>
</div>
</fieldset>
	<h3>Your Notifications:</h3>
	<div class="well">
		<h4>Email Notifications</h4>
			<table class="table-striped">
				<thead>
					<tr>
						<th>Title</th>
						<th>Message</th>
						<th>Active?</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				<%= f.fields_for(:email_notifications, @agent.email_notifications) do |email_notification| %>
					<%= render 'email_notification_fields', :f => email_notification %>
				<% end %>
					<tr>
						<td><%= link_to_add_fields "add email notification", f, :email_notifications %></td>
					</tr>
				</tbody>
			</table>
	</div>
	
	<div class="well">
		<h4>SMS Notifications</h4>
			<table class="table-striped">
				<thead>
					<tr>
						<th>Message</th>
						<th>Active?</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				<%= f.fields_for(:sms_notifications, @agent.sms_notifications) do |sms_notification| %>
					<%= render 'sms_notification_fields', :f => sms_notification %>
				<% end %>
					<tr>
						<td><%= link_to_add_fields "add sms notification", f, :sms_notifications %></td>
					</tr>
				</tbody>
			</table>
	</div>
	
	<div class="well">
		<h4>Voice Notifications</h4>
			<table class="table-striped span9">
				<thead>
					<tr>
						<th>Recording URL</th>
						<th>Active</th>
						<th>Created</th
						<th></th>
					</tr>
				</thead>
				<tbody>
					<%= @agent.recordings.collect { |recording|
					 		"<tr class='fields'>
									<td>#{recording.recording_url}</td>
									<td>#{check_box_tag(recording.active)}</td>
									<td>#{recording.created_at}</td>
									<td>#{link_to 'delete', recording, confirm: 'Are you sure?', :method => :delete, :class => 'btn btn-danger'}</td>
								</tr>".html_safe }.to_sentence(no_separator).html_safe %>
				</tbody>
		</table>
		<%= link_to 'add voice notification', {:controller => 'recordings', :action => 'record', :uuid => @agent.uuid}, :class => 'btn btn-warning' %>
	</div>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>