<%= form_for(@agent, :html => {:class => 'span16'}) do |f| %>
	<%= error_messages_for(@agent) %>

<fieldset class="well">
	<div class="row">
		<div class="well span5" style="margin: 15px">
			<h3>Basic Info:</h3>
			<%= f.label :first_name %>
			<%= f.text_field :first_name %>

			<%= f.label :last_name %>
			<%= f.text_field :last_name %>
	
			<%= f.label :website_url %>
			<%= f.text_field :website_url %>
		</div>
	
		<div class="well span5" style="margin: 15px">
			<h3>Outgoing Message Info:</h3>
			<%= f.label :outgoing_phone %>
			<%= f.text_field :outgoing_phone %>
	
			<%= f.label :outgoing_email %>
			<%= f.text_field :outgoing_email %>
		
			<p>Phone verified?</p>
			<% if phone_not_verified? %>
				<b>No</b> <%= link_to "(verify now!)", :controller => 'agents', :action => 'verify', :phn => @agent.outgoing_phone, :uuid => @agent.uuid %>
			<% else %>
				<b>Yes</b>
			<% end %>
		</div>
	</div>
</fieldset>

<div class="well" style="min-height: 300px;">
	<%= render :partial => 'begin_agent_recording' %>
		<% if @agent.recordings.count == 0 %>
			<div class="well" style="min-height: 150px;">
				<h1>You don't have any recordings, make one!</h1>
			</div>
		<% else %>
			<div class="well" style="min-height: 150px;">
				<h4>Voice Notifications</h4>
					<table class="table table-striped span12">
						<thead>
							<tr>
								<th>Active?</th>
								<th>Recording</th>
								<th>Created</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<%= f.fields_for(:recordings, @agent.recordings) do |recording| %>
								<%= render 'recording_fields', :f => recording %>
							<% end %>
						</tbody>
					</table>
			</div>
	<% end %>
</div>

<div class="well">
	<h3>Your Notifications:</h3>
	<div class="well">
		<h4>Email Notifications</h4>
			<table class="table-striped">
				<thead>
					<tr>
						<th>Title</th>
						<th>Message</th>
						<th>Active?</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				<%= f.fields_for(:email_notifications, @agent.email_notifications) do |email_notification| %>
					<%= render 'email_notification_fields', :f => email_notification %>
				<% end %>
					<tr>
						<td><%= link_to_add_fields "add email notification", f, :email_notifications %></td>
					</tr>
				</tbody>
			</table>
	</div>
	
	<div class="well">
		<h4>SMS Notifications</h4>
			<table class="table-striped">
				<thead>
					<tr>
						<th>Message</th>
						<th>Active?</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				<%= f.fields_for(:sms_notifications, @agent.sms_notifications) do |sms_notification| %>
					<%= render 'sms_notification_fields', :f => sms_notification %>
				<% end %>
					<tr>
						<td><%= link_to_add_fields "add sms notification", f, :sms_notifications %></td>
					</tr>
				</tbody>
			</table>
	</div>
		
</div>
<%= f.submit 'Update Profile', :class => 'btn btn-success' %>

<% end %>