<%= form_for(@agent, :html => {:class => 'form-stacked'}) do |f| %>
	<%= error_messages_for(@agent) %>

   <%= f.label :first_name %>
   <%= f.text_field :first_name %>

   <%= f.label :last_name %>
   <%= f.text_field :last_name %>

   <%= f.label :phone %>
   <%= f.number_field :phone %>

   <%= f.label :website_url %>
   <%= f.text_field :website_url %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
