<%= render 'layouts/messages' %>
<h1>Listing agents</h1>

<table class="table-striped span12">
  <tr>
    <th>Agent ID</th>
    <th>User ID</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Outgoing Phone</th>
		<th>Outgoing Email</th>
    <th>Website url</th>
    <th></th>
    <th></th>
  </tr>

<% @agents.each do |agent| %>
  <tr>
    <td><%= agent.id %></td>
    <td>
      <% unless agent.user_id.nil? %>
        <%= agent.user_id %>
      <% end %>
    </td>
    <td><%= agent.first_name %></td>
    <td><%= agent.last_name %></td>
    <td><%= agent.outgoing_phone %></td>
		<td><%= agent.outgoing_email %></td>
    <td><%= agent.website_url %></td>
    <td><%= link_to 'Edit', edit_agent_path(agent), :class => 'btn btn-mini btn-warning' %></td>
    <td><%= link_to 'Destroy', agent, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agent', new_agent_path %>
