<%= render 'layouts/messages' %>

<h1>Hello <%= @agent.first_name %> <%= @agent.last_name %>!</h1>

<div class="well">
	<div class="row">
		<h3 class="span3">Your Stats:</h3>
	</div>
	<div class="row">
		<div class="span3 well">
			<h1 class="bignum"><%= @agent.count_addresses %></h1><br />
			<h4 class="pull-right">Total Addresses</h4>
		</div>
		<div class="span3 well">
			<h1 class="bignum">0</h1><br />
			<h4 class="pull-right">Total Neighborhoods</h4>
		</div>
		<div class="span3 well">
			<h1 class="bignum">0</h1><br />
			<h4 class="pull-right">People Notified Today</h4>
		</div>
	</div>
</div>

<div class="alert">
	<h4>Signup URL</h4>
		<p><span class="notification">Link to this to get people signed up for your notifications, or download one of our <%= link_to 'plugins' %> to integrate with your platform of choice.</p>
		<b>http://localhost:3000/users/new_person?uuid=<%= @agent.uuid %></b>
</div>

<div>
	<b>People</b><br />
		<table class="table-striped span12">
			<tr>
				<th></th>
				<th>Name</th>
				<th>Address</th>
				<th>City</th>
				<th>State</th>
				<th>Phone</th>
				<th>Mobile Phone</th>
				<th>Added on</th>
			</tr>
			<% @agent.people.each_with_index do | person, i | %>
			<tr>
				<td><%= "#{i + 1}" %></td>
				<td><%= person.name %></td>
				<td><%= person.address %></td>
				<td><%= person.city %></td>
				<td><%= person.state %></td>
				<td><%= person.phone %></td>
				<td><%= person.mobile_phone %></td>
				<td><%= person.created_at %></td>
			</tr>
			<% end %>
		</table>
</div>
	

<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>