<!DOCTYPE html>
<html>
<head>
  <title>SweeperCall</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
	<%= javascript_include_tag "http://static.twilio.com/libs/twiliojs/1.0/twilio.js" %>
  <%= csrf_meta_tags %>
<script>
var connection=null;

var sweeper_auth_token = "<%= twilio_client_setup %>";
	$(document).ready(function(){
		Twilio.Device.setup(sweeper_auth_token,{"debug":true});
		
		$("#call").click(function() {  
			Twilio.Device.connect({
				phone_number: <%= @agent.outgoing_phone %>,
				uuid: "<%= @agent.uuid %>"
			});
		});
		
		$("#hangup").click(function() {  
 				connection.sendDigits("#");
		});

		Twilio.Device.ready(function (device) {
			$('#status').html('Click to call <b><%= number_to_phone(@agent.outgoing_phone) %></b> and record your message.');
		});
		
		Twilio.Device.offline(function (device) {
			$('#status').text('Offline');
		});

		Twilio.Device.error(function (error) {
			$('#status').text(error);
		});

		Twilio.Device.connect(function (conn) {
			connection=conn;
			$('#status').text("Calling you now...");
			$('#status').css('color', 'red');
			toggleCallStatus();
		});

		Twilio.Device.disconnect(function (conn) {
		$('#status').html('Successfully recorded message<br/><a href="" onclick="javascript:reload_agent">Click to see recording</a>');
			$('#status').css('color', 'black');
			toggleCallStatus();
		});
			
		function toggleCallStatus(){
			$('#call').toggle();
			$('#hangup').toggle();
		}
	});
</script>
</head>
<body>
	<!-- TOPBAR  -->
	<%= render 'layouts/topbar' %>

<div class="container">
	<!-- BODY -->
	<%= yield %>
</div>

</body>
</html>