<!DOCTYPE html>
<html>
<head>
  <title>SweeperCall</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
	<%= javascript_include_tag "http://static.twilio.com/libs/twiliojs/1.0/twilio.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- TOPBAR  -->
	<%= render 'layouts/topbar' %>

<div class="container">
	<!-- BODY -->
	<%= yield %>
</div>

</body>
</html>
