<!DOCTYPE html>
<html>
<head>
  <title>SweeperCall</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
  <%= csrf_meta_tags %>
  <%= yield :page_specific_assets %>
</head>
<body>
	<!-- TOPBAR  -->
	<%= render 'layouts/topbar' %>

<div class="container">
	<!-- BODY -->
	<%= yield %>
</div>

</body>
</html>
